
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/Content/styles/custom.css")" rel="stylesheet" type="text/css" />
}

<div>
    <h1></h1>
</div>

<div class="table-responsive table-sm">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col"><a href="/home/index" style="display:block">#</a></th>
                <th scope="col"><a href="/home/index" style="display:block">1</a></th>
                <th scope="col"><a href="/home/index" style="display:block">2</a></th>
                <th scope="col"><a href="/home/index" style="display:block">3</a></th>
                <th scope="col"><a href="/home/index" style="display:block">4</a></th>
                <th scope="col"><a href="/home/index" style="display:block">5</a></th>
                <th scope="col"><a href="/home/index" style="display:block">6</a></th>
                <th scope="col"><a href="/home/index" style="display:block">7</a></th>
                <th scope="col"><a href="/home/index" style="display:block">8</a></th>
                <th scope="col"><a href="/home/index" style="display:block">9</a></th>
                <th scope="col"><a href="/home/index" style="display:block">10</a></th>
                <th scope="col"><a href="/home/index" style="display:block">11</a></th>
                <th scope="col"><a href="/home/index" style="display:block">12</a></th>
                <th scope="col"><a href="/home/index" style="display:block">13</a></th>
                <th scope="col"><a href="/home/index" style="display:block">14</a></th>
                <th scope="col"><a href="/home/index" style="display:block">15</a></th>
                <th scope="col"><a href="/home/index" style="display:block">16</a></th>
                <th scope="col"><a href="/home/index" style="display:block">17</a></th>
                <th scope="col"><a href="/home/index" style="display:block">18</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    Atomic<br />
                    <strong>Sym</strong><br />
                    Name<br />
                    Weight
                </td>
                <td style="background-color:#22FF22" data-original-title="666" data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
                    <a href="/home/index">
                        1<br />
                        <strong>H</strong><br />
                        <em>Hydrogen</em><br />
                        <i>1.008</i>
                    </a>
                </td>
                <td colspan="16"></td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        2<br />
                        <strong>He</strong><br />
                        <em>Helium</em> <br />
                        4.0026
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    2
                </td>
                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        3<br />
                        <strong>Li</strong><br />
                        <em>Lithium</em> <br />
                        6.94
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        4<br />
                        <strong>Be</strong><br />
                        <em>Beryllium</em> <br />
                        9.0122
                    </a>
                </td>
                <td colspan="10"></td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        5<br />
                        <strong>B</strong><br />
                        <em>Boron</em> <br />
                        10.81
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        6<br />
                        <strong>C</strong><br />
                        <em>Carbon</em> <br />
                        12.011
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        7<br />
                        <strong>N</strong><br />
                        <em>Nitrogen</em> <br />
                        12.011
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        8<br />
                        <strong>O</strong><br />
                        <em>Oxygen</em> <br />
                        15.999
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        9<br />
                        <strong>F</strong><br />
                        <em>Fluorine</em> <br />
                        18.998
                    </a>
                </td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        10<br />
                        <strong>Ne</strong><br />
                        <em>Neon</em> <br />
                        20.180
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    3
                </td>
                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        11<br />
                        <strong>Na</strong><br />
                        <em>Sodium</em> <br />
                        22.990
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        12<br />
                        <strong>Mg</strong><br />
                        <em>Magnesium</em> <br />
                        24.305
                    </a>
                </td>
                <td colspan="10"></td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        13<br />
                        <strong>Al</strong><br />
                        <em>Aluminium</em> <br />
                        26.982
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        14<br />
                        <strong>Si</strong><br />
                        <em>Silicon</em> <br />
                        28.085
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        15<br />
                        <strong>P</strong><br />
                        <em>Phosphorus</em> <br />
                        30.974
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        16<br />
                        <strong>S</strong><br />
                        <em>Sulfur</em> <br />
                        32.06
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        17<br />
                        <strong>Cl</strong><br />
                        <em>Sulfur</em> <br />
                        32.06
                    </a>
                </td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        18<br />
                        <strong>Ar</strong><br />
                        <em>Argon</em> <br />
                        39.948
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    4
                </td>

                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        19<br />
                        <strong>K</strong><br />
                        <em>Potassium</em> <br />
                        39.098
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        20<br />
                        <strong>Ca</strong><br />
                        <em>Calcium</em> <br />
                        40.078
                    </a>
                </td>


                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        21<br />
                        <strong>Sc</strong><br />
                        <em>Scandium</em> <br />
                        44.956
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        22<br />
                        <strong>Ti</strong><br />
                        <em>Titanium</em> <br />
                        47.867
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        23<br />
                        <strong>V</strong><br />
                        <em>Vanadium</em> <br />
                        50.942
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        24<br />
                        <strong>Cr</strong><br />
                        <em>Chromium</em> <br />
                        51.996
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        25<br />
                        <strong>Mn</strong><br />
                        <em>Manganese</em> <br />
                        54.938
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        26<br />
                        <strong>Fe</strong><br />
                        <em>Iron</em> <br />
                        55.845
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        27<br />
                        <strong>Co</strong><br />
                        <em>Cobalt</em> <br />
                        58.933
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        28<br />
                        <strong>Ni</strong><br />
                        <em>Nickel</em> <br />
                        58.693
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        29<br />
                        <strong>Cu</strong><br />
                        <em>Copper</em> <br />
                        63.546
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        30<br />
                        <strong>Zn</strong><br />
                        <em>Zinc</em> <br />
                        65.38
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        31<br />
                        <strong>Ga</strong><br />
                        <em>Gallium</em> <br />
                        69.723
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        32<br />
                        <strong>Ge</strong><br />
                        <em>Germanium</em> <br />
                        72.630
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        33<br />
                        <strong>As</strong><br />
                        <em>Arsenic</em> <br />
                        74.922
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        34<br />
                        <strong>Se</strong><br />
                        <em>Selenium</em> <br />
                        78.971
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        35<br />
                        <strong>Br</strong><br />
                        <em>Bromine</em> <br />
                        79.904
                    </a>
                </td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        36<br />
                        <strong>Kr</strong><br />
                        <em>Krypton</em> <br />
                        83.798
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    5
                </td>
                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        37<br />
                        <strong>Rb</strong><br />
                        <em>Rubidium</em> <br />
                        85.468
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        38<br />
                        <strong>Sr</strong><br />
                        <em>Strontium</em> <br />
                        87.62
                    </a>
                </td>



                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        39<br />
                        <strong>Y</strong><br />
                        <em>Yttrium</em> <br />
                        88.906
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        40<br />
                        <strong>Zr</strong><br />
                        <em>Zirconium</em> <br />
                        91.224
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        41<br />
                        <strong>Nb</strong><br />
                        <em>Niobium</em> <br />
                        92.906
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        42<br />
                        <strong>Mo</strong><br />
                        <em>Molybdenur</em> <br />
                        95.95
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        43<br />
                        <strong>Tc</strong><br />
                        <em>Technetium</em> <br />
                        (98)
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        44<br />
                        <strong>Ru</strong><br />
                        <em>Ruthenium</em> <br />
                        101.07
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        45<br />
                        <strong>Rh</strong><br />
                        <em>Rhodium</em> <br />
                        102.91
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        46<br />
                        <strong>Pd</strong><br />
                        <em>Palladium</em> <br />
                        106.42
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        47<br />
                        <strong>Ag</strong><br />
                        <em>Silver</em> <br />
                        107.87
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        48<br />
                        <strong>Cd</strong><br />
                        <em>Cadmium</em> <br />
                        112.41
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        49<br />
                        <strong>In</strong><br />
                        <em>Indium</em> <br />
                        114.82
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        50<br />
                        <strong>Sn</strong><br />
                        <em>Tin</em> <br />
                        118.71
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        51<br />
                        <strong>Sb</strong><br />
                        <em>Antimony</em> <br />
                        121.76
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        52<br />
                        <strong>Te</strong><br />
                        <em>Tellurium</em> <br />
                        127.60
                    </a>
                </td>
                <td style="background-color:#22FF22">
                    <a href="/home/index">
                        53<br />
                        <strong>I</strong><br />
                        <em>Iodine</em> <br />
                        126.90
                    </a>
                </td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        54<br />
                        <strong>Xe</strong><br />
                        <em>Xenon</em> <br />
                        131.29
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    6
                </td>
                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        55<br />
                        <strong>Cs</strong><br />
                        <em>Caesium</em> <br />
                        132.91
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        56<br />
                        <strong>Ba</strong><br />
                        <em>Barium</em> <br />
                        137.33
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop BlueLeft BlueRight">
                    <a href="/home/index">
                        <strong>57-71</strong><br />

                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        72<br />
                        <strong>Hf</strong><br />
                        <em>Hafnium</em> <br />
                        178.49
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        73<br />
                        <strong>Ta</strong><br />
                        <em>Tantalum</em> <br />
                        180.95
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        74<br />
                        <strong>W</strong><br />
                        <em>Tungsten</em> <br />
                        183.84
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        75<br />
                        <strong>Re</strong><br />
                        <em>Rhenium</em> <br />
                        186.21
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        76<br />
                        <strong>Os</strong><br />
                        <em>Osminium</em> <br />
                        190.23
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        77<br />
                        <strong>Ir</strong><br />
                        <em>Iridium</em> <br />
                        192.22
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        78<br />
                        <strong>Pt</strong><br />
                        <em>Platinum</em> <br />
                        195.08
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        79<br />
                        <strong>Au</strong><br />
                        <em>Gold</em> <br />
                        196.97
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        80<br />
                        <strong>Hg</strong><br />
                        <em>Mercury</em> <br />
                        200.59
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        81<br />
                        <strong>Tl</strong><br />
                        <em>Thallium</em> <br />
                        204.38
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        82<br />
                        <strong>Pb</strong><br />
                        <em>Lead</em> <br />
                        207.2
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        83<br />
                        <strong>Bi</strong><br />
                        <em>Bismuth</em> <br />
                        208.98
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        84<br />
                        <strong>Po</strong><br />
                        <em>Polonium</em> <br />
                        (209)
                    </a>
                </td>
                <td style="background-color:#77DD88">
                    <a href="/home/index">
                        85<br />
                        <strong>At</strong><br />
                        <em>Astatine</em> <br />
                        (210)
                    </a>
                </td>
                <td style="background-color:#77CCFF">
                    <a href="/home/index">
                        86<br />
                        <strong>Rn</strong><br />
                        <em>Radon</em> <br />
                        (222)
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    7
                </td>
                <td style="background-color:#FFCC33">
                    <a href="/home/index">
                        87<br />
                        <strong>Fr</strong><br />
                        <em>Francium</em> <br />
                        (223)
                    </a>
                </td>
                <td style="background-color:#FFFF44">
                    <a href="/home/index">
                        88<br />
                        <strong>Ra</strong><br />
                        <em>Radium</em> <br />
                        (226)
                    </a>
                </td>
                <td style="background-color:#EEBBDD" class="BlueLeft BlueRight">

                    <strong>89-103</strong><br />


                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        104<br />
                        <strong>Rf</strong><br />
                        <em>Rutherfordium</em> <br />
                        (267)
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        105<br />
                        <strong>Db</strong><br />
                        <em>Dubnium</em> <br />
                        (268)
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        106<br />
                        <strong>Sg</strong><br />
                        <em>Seaborgium</em> <br />
                        (269)
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        107<br />
                        <strong>Bh</strong><br />
                        <em>Bohrium</em> <br />
                        (270)
                    </a>
                </td>

                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        108<br />
                        <strong>Hs</strong><br />
                        <em>Hassium</em> <br />
                        (277)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        109<br />
                        <strong>Mt</strong><br />
                        <em>Meitnerium</em> <br />
                        (278)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        110<br />
                        <strong>Ds</strong><br />
                        <em>Darmstadtium</em> <br />
                        (281)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        111<br />
                        <strong>Rg</strong><br />
                        <em>Roentgenium</em> <br />
                        (282)
                    </a>
                </td>
                <td style="background-color:#DDBBBB">
                    <a href="/home/index">
                        112<br />
                        <strong>Cn</strong><br />
                        <em>Copernicium</em> <br />
                        (285)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        113<br />
                        <strong>Nh</strong><br />
                        <em>Nihonium</em> <br />
                        (286)
                    </a>
                </td>
                <td style="background-color:#99DDCC">
                    <a href="/home/index">
                        114<br />
                        <strong>Fl</strong><br />
                        <em>Flerovium</em> <br />
                        (289)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        115<br />
                        <strong>Mc</strong><br />
                        <em>Moscovium</em> <br />
                        (290)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        116<br />
                        <strong>Lv</strong><br />
                        <em>Livermorium</em> <br />
                        (293)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        117<br />
                        <strong>Ts</strong><br />
                        <em>Tennessine</em> <br />
                        (294)
                    </a>
                </td>
                <td style="background-color:#DDDDDD">
                    <a href="/home/index">
                        118<br />
                        <strong>Og</strong><br />
                        <em>Oganesson</em> <br />
                        (294)
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3"></td>

                <td style="background-color:none" class="BlueLeft BlueRight">
                    <br />
                    <br />
                    <br />

                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3"></td>
                <td style="background-color:none" class="BlueLeft">
                    <br />
                    <br />
                    <br />

                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        57<br />
                        <strong>La</strong><br />
                        <em>Lanthanum</em> <br />
                        138.91
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        58<br />
                        <strong>Ce</strong><br />
                        <em>Cerium</em> <br />
                        140.12
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        59<br />
                        <strong>Pr</strong><br />
                        <em>Praseodymium</em> <br />
                        140.12
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        60<br />
                        <strong>Nd</strong><br />
                        <em>Neodymium</em> <br />
                        144.24
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        61<br />
                        <strong>Pm</strong><br />
                        <em>Promethium</em> <br />
                        (145)
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        62<br />
                        <strong>Sm</strong><br />
                        <em>Samarium</em> <br />
                        150.36
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        63<br />
                        <strong>Eu</strong><br />
                        <em>Europium</em> <br />
                        151.96
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        64<br />
                        <strong>Gd</strong><br />
                        <em>Gadolinium</em> <br />
                        157.25
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        65<br />
                        <strong>Tb</strong><br />
                        <em>Terbium</em> <br />
                        158.93
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        66<br />
                        <strong>Dy</strong><br />
                        <em>Dysprosium</em> <br />
                        162.50
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        67<br />
                        <strong>Ho</strong><br />
                        <em>Holmium</em> <br />
                        164.93
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        68<br />
                        <strong>Er</strong><br />
                        <em>Erbium</em> <br />
                        167.26
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        69<br />
                        <strong>Tm</strong><br />
                        <em>Thulium</em> <br />
                        168.93
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop">
                    <a href="/home/index">
                        70<br />
                        <strong>Yb</strong><br />
                        <em>Thulium</em> <br />
                        168.93
                    </a>
                </td>
                <td style="background-color:#FFBB99" class="BlueTop BlueRight">
                    <a href="/home/index">
                        71<br />
                        <strong>Lu</strong><br />
                        <em>Lutetium</em> <br />
                        174.97
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3"></td>
                <td style="background-color:none" class="BlueLeft">
                    <br />
                    <br />
                    <br />

                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        89<br />
                        <strong>Ac</strong><br />
                        <em>Actinium</em> <br />
                        (227)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        90<br />
                        <strong>Th</strong><br />
                        <em>Thorium</em> <br />
                        232.04
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        91<br />
                        <strong>Pa</strong><br />
                        <em>Protactinium</em> <br />
                        231.04
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        92<br />
                        <strong>U</strong><br />
                        <em>Uranium</em> <br />
                        238.03
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        93<br />
                        <strong>Np</strong><br />
                        <em>Neptunium</em> <br />
                        (237)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        94<br />
                        <strong>Pu</strong><br />
                        <em>Plutonium</em> <br />
                        (244)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        95<br />
                        <strong>Am</strong><br />
                        <em>Americium</em> <br />
                        (243)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        96<br />
                        <strong>Cm</strong><br />
                        <em>Curium</em> <br />
                        (247)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        97<br />
                        <strong>Bk</strong><br />
                        <em>Berkelium</em> <br />
                        (247)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        98<br />
                        <strong>Cf</strong><br />
                        <em>Californium</em> <br />
                        (251)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        99<br />
                        <strong>Es</strong><br />
                        <em>Einsteinium</em> <br />
                        (252)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        100<br />
                        <strong>Fm</strong><br />
                        <em>Fermium</em> <br />
                        (257)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        101<br />
                        <strong>Md</strong><br />
                        <em>Mendelevium</em> <br />
                        (258)
                    </a>
                </td>
                <td style="background-color:#EEBBDD">
                    <a href="/home/index">
                        102<br />
                        <strong>No</strong><br />
                        <em>Nobelium</em> <br />
                        (259)
                    </a>
                </td>
                <td style="background-color:#EEBBDD" class="BlueRight">
                    <a href="/home/index">
                        103<br />
                        <strong>Lr</strong><br />
                        <em>Lawrencium</em> <br />
                        (266)
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="3" class="no-border"></td>
                <td colspan="16" class="BlueTop no-border"></td>
            </tr>
        </tbody>

    </table>
</div>

